<div class="navbar-wagon navbar-fixed-top">

  <!-- Logo -->
  <div class="logo">
    <a href="/" class="navbar-ifigures-brand">
      <img class="navbar-ifigures-logo" src="https://lh3.googleusercontent.com/5u3U2Rf5VnPVMG0wLK2xFqu-wawQFmnyA6Da3hhTY6wK4BslwqcQOwUj8RUVf-BX7Brq=s360" alt="iFigures'logo">
      <h1>iFigures</h1>
    </a>
  </div>

  <!-- Search Bar -->
  <div class="navbar-collapse collapse justify-content-end">
    <ul class="nav pull-right">
      <form class="form-inline" action="/figures">
        <input class="special form-control" name="query" type="search" placeholder="Search" aria-label="Search" value="">
        <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
      </form>
    </ul>
  </div>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <% if user_signed_in? %>
        <%# TODO: Remove inline styles %>
        <div style="display: flex; align-items: center;">
          <%= link_to "Add new Figure", new_figure_path %>
          <%# TODO: Remove inline styles %>
          <div style="margin-left: 30px" class="dropdown">
            <img src="https://avatars0.githubusercontent.com/u/7095307?s=460&v=4" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li><%= link_to('Profile', profile_path) %> </li>
              <li><%= link_to('Dashboard', dashboard_path) %> </li>
              <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %> </li>
            </ul>
          </div>
        </div>
      <% else %>
        <div class="sign-in"><%= link_to('Log in', new_user_session_path) %></div>
        <div class="sign-up"><%= link_to('Sign up', new_user_registration_path) %></div>
      <% end %>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
<!--   <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
 -->
</div>
