<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-5">
      <div class="figure-carousel">
        <%= render 'components/carousel' %>
      </div>
    </div>
    <div class="info-column col-xs-12 col-md-6 col-lg-7">
      <h1 class="page-title"><%= @figure.name %></h1>
      <h2 class="figure-collection"><%= link_to @figure.brand, brand_path(@figure.brand) %></h2>
      <p><strong>Owner: </strong><%= @figure.user.email %></p>
      <p><%= @figure.description %></p>

      <% if current_user == @figure.user %>

        <div class="owner-box">
          <div class="back-btn"><%= link_to 'Back to Figures', figures_path %></div>
          <div class="buttons">
            <div class="update-figure-btn  btn btn-default btn-lg"><%= link_to 'Update Figure', edit_figure_path(@figure) %></div>
            <div class="delete-figure-btn btn btn-danger btn-lg"><%= link_to "Delete Figure", figure_path(@figure), method: :delete, data: { confirm: 'Are you sure?' } %></div>
          </div>
        </div>

      <% else %>

        <div class="money-box">
          <div class="price"><span>US$ <%= @figure.price %></span></div>
          <div class="buttons">
            <% if @figure.reserved? %>
              <div class="buy-btn btn btn-primary btn-lg"><%= link_to 'Buy it now' %></div>
            <% else %>
              <div class="reserve-btn btn btn-default btn-lg">
                <%= link_to 'Reserve it', figure_reservations_path(@figure), method: :post %>
              </div>
              <div class="buy-btn btn btn-primary btn-lg"><%= link_to 'Buy it now' %></div>
            <% end %>
          </div>
        </div>

      <% end %>

      <p><strong>Address: </strong><%= @figure.address %></p>
      <div class="figure-map" style="height: 400px; background-color: #ddd;">
        <%= render 'map', map_figures: @map_figures %>
      </div>
    </div>

  </div>
</div>
